@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-animation {
  animation: revealCharCell linear;
  animation-duration: 0.15s;
}

@keyframes revealCharCell {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.keyboard {
  direction: ltr;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2');

body {
  direction: rtl;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
}

.delete-key {
  color: maroon;
  padding: 0.3em;
}
.enter-key {
  color: white;
  background-color: darkgreen !important;
  padding: 0.3em;
}
:focus {
  outline: none;
}
.flip {
  transform: scale(-1, 1);
  transform-origin: center;
}
